<!-- Modal -->
<div class="modal fade" id="userModal" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">

    <form id="user-form" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Add User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">

        <div class="input-group mt-4">
          <label for="defaultInput" class="form-label">Default input</label>
          <input id="defaultInput" class="form-control" type="text" placeholder="Default input"/>
        </div>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>

    </form>

  </div>
</div>
