<div class="col-md-12">
  <div class="card card-action bg-menu-theme mb-6 card-border-shadow-primary">
    <div class="card-header">
      <h5 class="card-action-title mb-0 "><span class="icon-card ti ti-search"></span> Advanced Search</h5>
      <div class="card-action-element">
        <ul class="list-inline mb-0">
          <li class="list-inline-item ">
            <a href="javascript:void(0);" class="card-collapsible">
              <i class="tf-icons ti ti-chevron-down scaleX-n1-rtl ti-sm"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div id="adv-collapse" class="collapse">
      <div class="card-body">
        <form id="adv-search-index" class="row col-12">
          <div class="col-4">

            <div class="row form-group">
              <div class="mb-3">
                <label for="RolesSelect2" class="form-label"><strong>Roles</strong></label>
                <select id="RolesSelect2" class="select2 form-select">
                  <option></option>
                </select>
              </div>
            </div>

            <div class="row form-group">
              <div class="mb-3">
                <button type="button" class="btn btn-primary me-2">
                  <span class="tf-icons ti-xs ti ti-search me-2"></span> Submit
                </button>
                <button type="button" class="btn btn-secondary me-2">
                  <span class="tf-icons ti-xs ti ti-arrow-back me-2"></span> Clear
                </button>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>

  <div id="message" role="alert">

  </div>

  <div class="card-datatable table-responsive pt-0">
    <table class="datatables-basic table" id="dataTableUser">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>User Name</th>
        <th>Role Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>

<!-- Modal Container -->
<div id="user-container-modal">

</div>
<!--/ init Container -->
