<div class="row g-6 mb-6">
  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span class="text-heading">Session</span>
            <div class="d-flex align-items-center my-1">
              <h4 class="mb-0 me-2">21,459</h4>
              <p class="text-success mb-0">(+29%)</p>
            </div>
            <small class="mb-0">Total Users</small>
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded bg-label-primary">
              <i class="ti ti-users ti-26px"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-6 col-xl-3">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-start justify-content-between">
          <div class="content-left">
            <span class="text-heading">Active Users</span>
            <div class="d-flex align-items-center my-1">
              <h4 class="mb-0 me-2">19,860</h4>
              <p class="text-danger mb-0">(-14%)</p>
            </div>
            <small class="mb-0">Last week analytics</small>
          </div>
          <div class="avatar">
            <span class="avatar-initial rounded bg-label-success">
              <i class="ti ti-user-check ti-26px"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card card-action bg-menu-theme mb-6 card-border-shadow-primary">

    <div class="card-header">
      <h5 class="card-action-title mb-0 "><span class="icon-card ti ti-search"></span> Advanced Search</h5>
      <div class="card-action-element">
        <ul class="list-inline mb-0">
          <li class="list-inline-item ">
            <a href="javascript:void(0);" class="card-collapsible">
              <i class="tf-icons ti ti-chevron-down scaleX-n1-rtl ti-sm"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div id="adv-collapse" class="collapse">
      <div class="card-body">
        <form id="adv-search-index" class="row col-12">
          <div class="col-4">
            <div class="row form-group">
              <div class="mb-3">
                <label for="TypeTransport" class="form-label">Test</label>
                <select id="TypeTransport" class="form-select">
                  <option></option>
                  <option id="1">Test 1</option>
                  <option id="2">Test 2</option>
                </select>
              </div>
            </div>
            <div class="row form-group">
              <div class="mb-3">
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp"/>
                <div id="defaultFormControlHelp" class="form-text"></div>
              </div>
            </div>
            <div class="row form-group">
              <div class="mb-3">
                <button type="button" class="btn btn-primary me-2">
                  <span class="tf-icons ti-xs ti ti-search me-2"></span> Submit
                </button>
                <button type="button" class="btn btn-secondary me-2">
                  <span class="tf-icons ti-xs ti ti-arrow-back me-2"></span> Clear
                </button>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row form-group">
              <div class="mb-3">
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp"/>
                <div id="defaultFormControlHelp" class="form-text"></div>
              </div>
            </div>
            <div class="row form-group">
              <div class="mb-3">
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp"/>
                <div id="defaultFormControlHelp" class="form-text"></div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row form-group">
              <div class="mb-3">
                <label for="defaultFormControlInput" class="form-label">Name</label>
                <input type="text" class="form-control" id="defaultFormControlInput" placeholder="John Doe" aria-describedby="defaultFormControlHelp"/>
                <div id="defaultFormControlHelp" class="form-text"></div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>

  <div class="alert alert-success d-none" role="alert">
    This is a success alert — check it out!
  </div>

  <div class="card-datatable table-responsive pt-0">
    <table class="datatables-basic table" id="dataTableUser">
      <thead>
      <tr>
        <th>Full Name</th>
        <th>User Name</th>
        <th>Role Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>


