<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y bg-menu-theme">
  <div class="header-container">
    <div class="header-page">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="pjax" href="">
              <i class="icon menu-icon ti ti-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">User</li>
          <li class="breadcrumb-item active">Index</li>
        </ol>
      </nav>
    </div>
  </div>
  @await Html.PartialAsync("~/Views/User/Detail.cshtml")
</div>
<!--/ Content -->
