
<!-- Content -->
<div class="container-fluid flex-grow-1 container-p-y bg-menu-theme">
  <div class="header-container">
    <div class="header-page">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a class="pjax" href="">
              <i class="icon menu-icon ti ti-home"></i>
            </a>
          </li>
          <li class="breadcrumb-item">User</li>
          <li class="breadcrumb-item active">Index</li>
        </ol>
      </nav>
    </div>
  </div>

  <!-- init Modal -->
  @* <div class="row" id="user-container-modal"> *@
  @* $1$   $2$ @await Html.PartialAsync("~/Views/User/Modals/ModalForm.cshtml") #2# #1# *@
  @*    @await Html.PartialAsync("~/Views/User/Modals/ModalDetail.cshtml") *@
  @* $1$   $2$ @await Html.PartialAsync("~/Views/User/Modals/ModalChangePassword.cshtml") #2# #1# *@
  @* </div> *@
  <!--/ init Modal -->

  @await Html.PartialAsync("~/Views/User/Detail.cshtml")
</div>
<!--/ Content -->

<div class="row" id="user-container-modal">
  @* @await Html.PartialAsync("~/Views/User/Modals/ModalDetail.cshtml") *@
</div>




