<div class="container">
    <div class="text-center">
        <h1 class="display-4 mb-4">Generate Data</h1>
        <table class="dataTable table table-striped table-borderless" id="dataTable">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Jenis Kelamin</th>
                <th>Hobi</th>
                <th>Usia</th>
            </tr>
            </thead>
            <tbody>
          
            </tbody>
        </table>
        <div class="row card-body mt-4">
            <div class="col-lg-6 mt-3 d-flex justify-content-center justify-content-lg-start">
                <button id="generateButton" class="btn btn-success">Generate</button>
                <button id="submitButton" class="btn btn-primary ml-2">Submit</button>
            </div>
        </div>
    </div>
</div>