<div class="card-datatable table-responsive pt-0">
  <table class="datatables-basic table" id="dataTable">
    <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Date</th>
      <th>Salary</th>
    </tr>
    </thead>
  </table>
</div>
