<div class="card">
<div class="card-datatable table-responsive">
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
<div class="row mx-1">
  <div class="col-sm-12 col-md-3">
    <div class="dataTables_length" id="DataTables_Table_0_length">
      <label>
        Show
        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
          <option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option>
        </select>
      </label>
    </div>
  </div>
  <div class="col-sm-12 col-md-9">
    <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-md-end justify-content-center flex-wrap">
      <div class="me-4 mt-n6 mt-md-0">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
          <label>
            <input type="search" class="form-control" placeholder="Search Permissions" aria-controls="DataTables_Table_0">
          </label>
        </div>
      </div>
      <div class="dt-buttons btn-group flex-wrap">
        <button class="btn add-new btn-primary mb-6 mb-md-0 waves-effect waves-light" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="modal" data-bs-target="#addPermissionModal">
          <span>
            <i class="ti ti-plus ti-xs me-0 me-sm-2"></i><span class="d-none d-sm-inline-block">Add Permission</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<table class="datatables-permissions table border-top dataTable no-footer dtr-column collapsed" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info" style="width: 916px;">
<thead>
<tr>
  <th class="control sorting_disabled" rowspan="1" colspan="1" style="width: 0px;" aria-label=""></th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 183px;" aria-label="Name: activate to sort column ascending">Name</th><th class="sorting_disabled" rowspan="1" colspan="1" style="width: 291px;" aria-label="Assigned To">Assigned To</th><th class="sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 179px; display: none;" aria-label="Created Date">Created Date</th><th class="sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 101px; display: none;" aria-label="Actions">Actions</th>
</tr>
</thead>
<tbody>
<tr class="odd">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Management</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">14 Apr 2021, 8:43 PM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Manage Billing &amp; Roles</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">16 Sep 2021, 5:20 PM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Add &amp; Remove Users</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-warning">Manager</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">14 Oct 2021, 10:20 AM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Project Planning</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-success">Users</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-info">Support</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">14 May 2021, 12:10 PM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Manage Email Sequences</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-success">Users</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-info">Support</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">23 Aug 2021, 2:00 PM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Client Communication</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-warning">Manager</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">15 Apr 2021, 11:30 AM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Only View</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-danger">Restricted User</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">04 Dec 2021, 8:15 PM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="even">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Financial Management</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-warning">Manager</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">25 Feb 2021, 10:30 AM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
<tr class="odd">
  <td class="control" tabindex="0" style=""></td>
  <td>
    <span class="text-nowrap text-heading">Manage Others’ Tasks</span>
  </td>
  <td>
    <span class="text-nowrap">
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-primary">Administrator</span>
      </a>
      <a href="app-user-list.html">
        <span class="badge me-4 bg-label-info">Support</span>
      </a>
    </span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <span class="text-nowrap">04 Nov 2021, 11:45 AM</span>
  </td>
  <td class="dtr-hidden" style="display: none;">
    <div class="d-flex align-items-center">
      <span class="text-nowrap">
        <button class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill me-1" data-bs-target="#editPermissionModal" data-bs-toggle="modal" data-bs-dismiss="modal">
          <i class="ti ti-edit ti-md"></i>
        </button>
        <a class="btn btn-icon btn-text-secondary waves-effect waves-light rounded-pill dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
          <i class="ti ti-dots-vertical ti-md mx-1"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end m-0">
          <a  class="dropdown-item">Edit</a><a class="dropdown-item">Suspend</a>
        </div>
      </span>
    </div>
  </td>
</tr>
</tbody>
</table>
<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="dataTables_info ms-n1" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 9 of 9 entries</div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="dataTables_paginate paging_simple_numbers me-n1" id="DataTables_Table_0_paginate">
      <ul class="pagination">
        <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
          <a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="previous" tabindex="-1" class="page-link">
            <i class="ti ti-chevron-left ti-sm"></i>
          </a>
        </li>
        <li class="paginate_button page-item active">
          <a href="#" aria-controls="DataTables_Table_0" role="link" aria-current="page" data-dt-idx="0" tabindex="0" class="page-link">1</a>
        </li>
        <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
          <a aria-controls="DataTables_Table_0" aria-disabled="true" role="link" data-dt-idx="next" tabindex="-1" class="page-link">
            <i class="ti ti-chevron-right ti-sm"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
