<div class="row g-6">
  <div class="col-12">
    <div class="card-datatable table-responsive pt-0">
      <table class="datatables-basic table" id="dataTablePermission">
        <thead>
        <tr>
          <th>Permission Name</th>
          <th>Description</th>
          <th>Router</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modal-container">
  @await Html.PartialAsync("~/Views/User/Permission/Modals/ModalForm.cshtml")
</div>

