<!-- Sidebar Menu -->
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme hidden-menu">
   <div class="menu menu-vertical bg-menu-theme py-10" id="menu-1">
    <ul class="menu-inner">

      <li class="menu-divider mb-0"></li>
      <li class="menu-header small fw-medium">Main Menu</li>
      <li class="menu-item active">
        <a class="menu-link " href="/Home"><i class="menu-icon ti ti-home"></i>
          <div>
            Home
          </div></a>
      </li>

      <li class="menu-divider mb-0"></li>
      <li class="menu-header small fw-medium">Master Management</li>
      <li class="menu-item">
        <a class="menu-link menu-toggle"><i class="menu-icon ti ti-album"></i>
          <div>
            Master
          </div></a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a class="menu-link">
              <div>
                Employee
              </div></a>
          </li>
        </ul>
      </li>

      <li class="menu-divider mb-0"></li>
      <li class="menu-header small fw-medium">User Management</li>
      <li class="menu-item">
        <a class="menu-link menu-toggle"><i class="menu-icon ti ti ti-users"></i>
          <div>
            Users
          </div></a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a class="menu-link">
              <div>
                Roles 1
              </div></a>
          </li>
          <li class="menu-item">
            <a class="menu-link">
              <div>
                Permission
              </div></a>
          </li>
          <li class="menu-item">
            <a class="menu-link">
              <div>
                Menu 3
              </div></a>
          </li>
        </ul>
      </li>

      <li class="menu-divider mb-0"></li>
      <li class="menu-header small fw-medium">Audit Management</li>
      <li class="menu-item">
        <a class="menu-link menu-toggle"><i class="menu-icon ti ti-alarm-plus"></i>
          <div>
           Audit Trail
          </div></a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a class="menu-link" href="/Audit">
              <div>
                List
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
   </div>
</aside>
